<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechHub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/logInForm.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <section class="log-in">
        <div class="heading">
          <h1>Create new profile</h1>
          <div class="main-divider"></div>
        </div>
        <div class="sign-up-container">
          <h2>Don't have a profile? <a href="/sign-up">Sign Up</a></h2>
        </div>
        <form method="post">
          <div class="form-item">
            <label for="username"> Username: </label>
            <input
              name="username"
              id="username"
              type="text"
              placeholder="e.g. jblackwood"
              minlength="1"
              max="40"
              required
            />
          </div>
          <div class="form-item">
            <label for="password"> Password: </label>
            <input
              name="password"
              id="password"
              type="password"
              minlength="1"
              max="16"
              required
            />
          </div>
          <button>Log In</button>
        </form>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
