main {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.category {
  display: flex;
  flex-direction: column;
}

.category-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
  margin-bottom: 35px;
}

.category-header > h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
  cursor: default;
}

.main-divider {
  width: 200px;
  height: 5px;
  background-color: var(--turquoise);
}

.category-items-grid {
  align-self: center;
  width: calc(100vw - 360px);
  display: grid;
  grid-template-columns: repeat(4, calc((100vw - 360px - 20px * 3) / 4));
  grid-template-rows: 320px;
  grid-auto-rows: 320px;
  column-gap: 20px;
  row-gap: 10px;
}

.category-item,
.add-category-item {
  padding: 15px 0 0 0;
  display: grid;
  grid-template-rows: 1fr 50px 20px 30px 40px;
  max-width: 100%;
  text-align: center;
  border-radius: 12px;
  border: 1px solid var(--white);
  box-shadow: none;
  transition: border 0.2s 0.05s, box-shadow 0.2s 0.05s;
}

.add-category-item {
  cursor: pointer;
}

.category-item:hover,
.add-category-item:hover {
  border: 1px solid var(--gray);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
}

.category-item > img,
.add-category-item > img {
  width: 100%;
  max-height: 160px;
  object-fit: contain;
  object-position: center;
  padding-left: 20px;
  padding-right: 20px;
  grid-row: 1 / 2;
  align-self: center;
}

.add-category-item > .add-item-icon {
  transform: rotate(0deg);
  transition: transform 0.6s;
}

.add-category-item:hover > .add-item-icon {
  transform: rotate(180deg);
}

.category-item-name,
.add-category-item-text {
  color: var(--black);
  font-weight: 700;
  grid-row: 2 / 3;
  padding: 0 15px;
  margin-top: 10px;
  cursor: default;
}

.add-category-item-text {
  cursor: pointer;
}

.category-item-price {
  font-weight: 700;
  color: var(--black);
  font-size: 1rem;
  grid-row: 3 / 5;
  align-self: center;
  cursor: default;
}

.category-item-old-price {
  font-weight: 700;
  color: var(--gray);
  font-size: 0.8rem;
  text-decoration: line-through;
  grid-row: 3 / 4;
  align-self: flex-end;
  cursor: default;
}

.category-item-new-price {
  font-weight: 700;
  color: var(--red);
  font-weight: 1rem;
  grid-row: 4 / 5;
  align-self: center;
  cursor: default;
}

.category-item > a {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--white);
  background-color: var(--turquoise);
  padding: 12px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  grid-row: 5 / 6;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.2s 0.1s, transform 0.2s 0.1s, background-color 0.2s;
}

.category-item:hover > a {
  opacity: 1;
  transform: translateY(0);
}

.category-item > a:hover {
  background-color: var(--light-turquoise);
}

.additions {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
}

.additions-grid {
  display: grid;
  width: calc(100vw - 360px);
  grid-template-columns: repeat(4, calc((100vw - 360px - 75px) / 4));
  gap: 25px;
}

.addition-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: var(--lightest-turquoise);
  border-radius: 12px;
  padding: 35px 0;
  cursor: default;
}

.addition-text {
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.addition-text > h3 {
  font-weight: 700;
}

.addition-text > p {
  font-weight: 300;
}

.addition-container > img {
  width: 50px;
  height: 50px;
}
