header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 180px;
  z-index: 2;
}

.header-bg {
  background-color: var(--black);
  opacity: 0.97;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
}

.logo {
  color: var(--white);
  font-weight: 800;
  font-size: 1.6rem;
  z-index: 1;
}

.logo > span {
  color: var(--turquoise);
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  justify-content: center;
  text-align: center;
  z-index: 2;
}

nav > * {
  color: var(--white);
  font-weight: 300;
}

nav > *:hover {
  font-weight: 700;
}

.log-in-header {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.log-in-header > img {
  height: 30px;
}

.log-in-header > div {
  color: var(--white);
  min-width: max-content;
  transition: color 0.2s;
}

.log-in-header:hover > div,
.log-in-header:hover > img {
  color: var(--turquoise);
  fill: var(--turquoise);
}
