main {
  display: flex;
  flex-direction: column;
  gap: 65px;
  padding: 65px 0 65px 0;
}

.item-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}

.item-heading > h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
  cursor: default;
}

.main-divider {
  width: 200px;
  height: 5px;
  background-color: var(--turquoise);
}

.item {
  color: var(--black);
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-heading {
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 400;
}

#category {
  font-size: 1.2rem;
  font-weight: 300;
  border: 1px solid var(--white);
  border-bottom: 1px solid var(--gray);
  margin-bottom: 10px;
  margin-top: 5px;
  cursor: pointer;
}

#device-name {
  font-size: 2rem;
  font-weight: 700;
  border: 1px solid var(--white);
  border-bottom: 1px solid var(--gray);
  padding-left: 5px;
  margin-top: 5px;
}

.price-container {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 20px;
}

#price,
#new-price {
  font-size: 1.8rem;
  border: 1px solid var(--white);
  border-bottom: 1px solid var(--gray);
  padding-left: 5px;
  margin-top: 5px;
}

#category:focus,
#device-name:focus,
#price:focus,
#new-price:focus,
#in-stock:focus,
#password:focus {
  outline: 1px solid var(--gray);
  border-radius: 6px;
  border: none;
  border: 1px solid var(--white);
}

#description {
  text-align: justify;
  font-weight: 400;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  resize: none;
  border: 1px solid var(--black);
  border-radius: 12px;
  margin-top: 5px;
}

#description:focus {
  outline: 1px solid var(--gray);
  border: 1px solid var(--white);
}

#in-stock,
#password {
  font-size: 1.2rem;
  width: 50px;
  border: 1px solid var(--white);
  border-bottom: 1px solid var(--gray);
  padding-left: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

label.new-arrival,
label.device-picture {
  display: flex;
  align-items: center;
  gap: 5px;
}

input[type='checkbox'],
input[type='file'] {
  cursor: pointer;
}

.buttons-container {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons-container > a,
.buttons-container > input {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 12px;
  border: none;
}

.cancel-button {
  background-color: var(--white);
  color: var(--red);
  transition: background-color 0.2s, color 0.2s;
}

.cancel-button:hover {
  background-color: var(--dark-red);
  color: var(--white);
}

.submit-button {
  background-color: var(--turquoise);
  color: var(--white);
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: var(--light-turquoise);
  cursor: pointer;
}

.access {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.access > h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.access > p {
  font-size: 1.2rem;
}

.access a {
  color: var(--turquoise);
}

.access a:hover {
  text-decoration: underline;
}
